@font-face {
  font-family: 'Mazzard Soft H Med';
  src: url('../fonts/MazzardSoftH-Medium.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H Med';
  src: url('../fonts/MazzardSoftH-MediumItalic.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H';
  src: url('../fonts/MazzardSoftH-Regular.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H';
  src: url('../fonts/MazzardSoftH-BlackItalic.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H SemBd';
  src: url('../fonts/MazzardSoftH-SemiBold.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H';
  src: url('../fonts/MazzardSoftH-Black.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H';
  src: url('../fonts/MazzardSoftH-BoldItalic.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H ExtBd';
  src: url('../fonts/MazzardSoftH-ExtraBold.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H ExtBd';
  src: url('../fonts/MazzardSoftH-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H SemBd';
  src: url('../fonts/MazzardSoftH-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/MazzardSoftH-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Greatest Richmond';
  src: url('../font/GreatestRichmond.woff2') format('woff2'),
      url('../font/GreatestRichmond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greatest Richmond';
  src: url('../font/GreatestRichmond.woff2') format('woff2'),
      url('../font/GreatestRichmond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




























