@import './variables';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mazzard Soft H';
  // background-image: url('../img/body-bg-up.jpg');
  background-image: url('../img/body-bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: $body-color;
}
.contently{
  background-color: $white;
}




















