// COLORS
$body-color: #fcf3ea;
$white:#fff;
$site-info-hover:#bac34e;
$color-primary: #555;
$header-inputs-color:#f4f4f4;
$header-input-color:#999;
$header-user-bg:#e8f8f7;
$header-heart-bg:#f6f3e3;
$header-shop-bg:#f3e4dc;
$header-icons-color:#0a472e;
$header-primary-color:#919b38;
$header-navigations-bg:#0a472e;
$header-info-span:#3B6C58;
$header-pink:#e0bf96;
$border-color:#e0dede;
$blue:#4c68a2;
$blue-pri:#4285f4;
$blue-sky:#53d1F8;
$primari-white:#aaa;
$price-color:#e0bf96;
$hero-before-color:#2a4923;
$border-colors:#073522;




$from-btn: #da465b;
$title: #010101;
$text:#424242;
$black:#000;

















