// COLORS
$body-color: #fcf3ea;
$white:#fff;
$title: #0a472e;
$contact-title:#414141;
$site-info-hover:#bac34e;
$color-primary: #555;
$header-inputs-color:#f4f4f4;
$header-input-color:#999;
$header-user-bg:#e8f8f7;
$header-heart-bg:#f6f3e3;
$header-shop-bg:#f3e4dc;
$header-icons-color:#0a472e;
$header-primary-color:#919b38;
$header-navigations-bg:#0a472e;
$header-info-span:#3B6C58;
$header-pink:#e0bf96;
$border-color:#e0dede;
$blue:#4c68a2;
$blue-pri:#4285f4;
$blue-sky:#53d1F8;
$primari-white:#aaa;
$price-color:#e0bf96;
$hero-before-color:#2a4923;
$border-colors:#073522;
$border-color-2:#e5e5e5;
$hero-primary-color:#0a472e;
$yellow:#F4ED23;
$white-pri-border:#e2e2e2;
$red:#ca4444;
$dropdown-border:#e4e4e4;
$btn-3:#272727;

$from-btn: #da465b;
$text:#424242;
$black:#000;

















