
.categories{
  width: 100%;
  padding: 0;
  display: grid;
  height: 460px;
  grid-template-columns:repeat(4 ,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 30px;
  margin-bottom: 100px;
}
.categories__fruit{
  background-image: url('../../img/category-fruit.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.categories__fruit::before{
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__fruit::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__fruit:hover::before{
  top: 0;
  left: 0;
}
.categories__fruit:hover::after{
  top: 0;
  left: 0;
}
.categories__fruit-title{
  color: $white;
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 50px 0 20px 0;
}
.categories__span{
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: $white;
  transition: all 0.4s ease;
}
.categories__fruit:hover .categories__span{
  transform: scale(1.7);
}
.categories__bred{
  background-image: url('../../img/category-bred.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 80px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  grid-column: 2 /4;
  grid-row: 1 / 2;
}
.categories__bred-content{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories__bred-title{
  color: $white;
  font-size: 20px;
  text-align: center;
  padding: 50px 0 20px 0;
}
.categories__bred-span{
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: $white;
  transition: all 0.4s ease;
}
.categories__bred:hover .categories__bred-span{
  transform: scale(1.7);
}
.categories__bred::before{
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__bred::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__bred:hover::before{
  top: 0;
  left: 0;
}
.categories__bred:hover::after{
  top: 0;
  left: 0;
}
.categories__package{
  background-image: url('../../img/categoryes-package.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  grid-column: 2 /3;
  grid-row: 2 / 3;
}
.categories__package-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories__package-title{
  color: $white;
  font-size: 20px;
  text-align: center;
  padding: 50px 0 20px 0;
  margin: 0;
}
.categories__package-span{
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: $white;
  transition: all 0.4s ease;
}
.categories__package:hover .categories__package-span{
  transform: scale(1.7);
}
.categories__package::before{
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__package::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__package:hover::before{
  top: 0;
  left: 0;
}
.categories__package:hover::after{
  top: 0;
  left: 0;
}
.categories__bevarage{
  background-image: url('../../img/category-beverage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  grid-column: 3 /4;
  grid-row: 2 / 3;
}
.categories__bevarage-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories__bevarage-title{
  color: $white;
  font-size: 20px;
  text-align: center;
  padding: 50px 0 20px 0;
  margin: 0;
}
.categories__bevarage-span{
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: $white;
  transition: all 0.4s ease;
}
.categories__bevarage:hover .categories__bevarage-span{
  transform: scale(1.7);
}
.categories__bevarage::before{
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__bevarage::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__bevarage:hover::before{
  top: 0;
  left: 0;
}
.categories__bevarage:hover::after{
  top: 0;
  left: 0;
}
.categories__health{
  background-image: url('../../img/category-health.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  grid-column: 4 /5;
  grid-row: 1 / 3;
}
.categories__health-title{
  color: $white;
  font-size: 20px;
  text-align: center;
  width: 40%;
  padding: 50px 0 20px 0;
  margin: 0;
}
.categories__health-span{
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: $white;
  transition: all 0.4s ease;
}
.categories__health:hover .categories__health-span{
  transform: scale(1.7);
}
.categories__health::before{
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__health::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color:#4e4c4c21;
  transition: all 0.4s ease;
}
.categories__health:hover::before{
  top: 0;
  left: 0;
}
.categories__health:hover::after{
  top: 0;
  left: 0;
}

@media screen and (max-width:990px){
  .categories__fruit-title{
    width: 90%;
  }
  .categories__health-title{
    width: 90%;
  }
  .categories__bevarage-content{
    width: 100%;
  }
  .categories__package-content{
    width: 100%;
  }
}

@media screen and (max-width:760px) {
  .categories{
    height: 1200px;
    grid-template-columns:repeat(1 ,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 20px;
  }
  .categories__fruit{
    padding: 10px;
    text-align: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .categories__fruit-title{
    width: 70%;
    padding: 50px 0;
  }
  .categories__bred{
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .categories__bred-content{
    width: 50%;
  }
  .categories__bred-title{
    color: $white;
    font-size: 20px;
    text-align: center;
    padding: 50px 0 20px 0;
  }
  .categories__bred-span{
    display: inline-block;
    width: 50px;
    background-color: $white;
    transition: all 0.4s ease;
  }
  .categories__package{
    background-image: url('../../img/categoryes-package.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .categories__package-content{
    width: 40%;
  }
  .categories__bevarage-content{
    width: 40%;
  }
  .categories__bevarage{
    background-image: url('../../img/category-beverage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
.categories__health{
  background-image: url('../../img/category-health.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
}


