@import '../variables';


.dropdown-menu{
  position: relative;
  top:14px !important;
  left: -7% !important;
  width: 108% ;
  padding: 10px 20px;
  // transform: translateX(-40px) !important;
  // position: absolute;
  // left: -100px !important;
}

.dropdown-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 14px;
  color: $black;
  border-bottom: 1px solid $dropdown-border;
}
.dropdown-item:hover{
  color: $site-info-hover;
  background-color: transparent;
}
.dropdown-menu__item{
  position: relative;
}
.dropdown-menuitem-list{
  position: absolute;
  right: -170px;
  top: 0;
  padding: 10px 30px 10px 20px;
  list-style: none;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
  animation-name: drop;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.dropdown-menu__item-link{
  text-decoration: none;
  color: $black;
  font-size: 14px;
}
.dropdown-menu__item-link:hover{
  color: $site-info-hover;
}
.dropdown-menu__item:hover .dropdown-menuitem-list{
  display: block;
}

@keyframes drop {
  0%{
    top: 7px;
  }
  100%{
    top: 0;
  }
}
.dropdown-menu__pyrmid{
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 24px;
  transform: rotate(45deg);
  background-color: $white;
}

.dropdown-actives{
  height: 80%;
  padding: 0 20px;
  border-radius: 30px;
  background-color:$site-info-hover;
}

@media screen and (max-width:990px) {
  .dropdown-menu{
    width: 100% ;
    left: -5% !important;
  }
  .header-info__category .dropdown{
    width: 100%;
  }
}

// @media screen and (max-width:940px) {
//   .dropdown-menu{
//     width: 300% ;
//     left: -12% !important;
//   }
// }
// @media screen and (max-width:870) {
//   .dropdown-menu{
//     width: 280% ;
//     left: -12% !important;
//   }
// }







