@import '../variables';

.header{
  padding:0 0 25px 0;
}
.header__site{
  padding: 25px 0;
}
.header__btn{
  font-size: 25px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  display: none;
}
.sidebar .offcanvas-header{
  display: flex;
  justify-content: flex-end ;
  align-items: center !important;
  color: $site-info-hover !important;
  color:$white !important;
  padding: 20px !important;
}
.sidebar .offcanvas-body{
  padding: 0 !important;
}
.sidebar{
  display: none;
}
.sidebar .offcanvas{
  width: 300px !important;
  background-color: $header-icons-color;
}
.btn-close{
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px !important;
  color: $site-info-hover !important;
}
.sidebar__close{
  line-height: 0 !important;
  font-size: 14px !important;
  margin: 0 0 0 5px !important;
}
.sidebar__list{
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.sidebar__item-link{
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  text-decoration: none;
  color: $white;
  text-transform: capitalize;
  font-size: 14px;
  padding: 15px;
}
.sidebar__item{
  border-top: 1px solid $border-colors;
}
.sidebar-details{
  padding: 0 15px;
  border-top: 1px solid $border-colors;
  color: $white;
}
.sedebar-sumary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $white;
  font-size: 14px;
  padding: 10px 0;
}
.sidebar__item:nth-child(5){
  border-top: 1px solid $border-colors;
  border-bottom: 1px solid $border-colors;
}
.sedebar-summay-list{
  list-style: none;
  padding: 0;
}
.sedebar-summay-list__link{
  color: $white;
  font-size: 14px;
  text-decoration: none;
}
.sedebar-summay-list__item{
  padding: 10px 0;
  border-top: 1px solid $border-colors;
}
.sidebar__item .bx-chevrons-right{
  height: 100%;
}
.dd{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -300px;
  z-index: 10;
  background-color: $header-icons-color;
}

.shw{
  left: 0;
}
.sidebar__item-link:hover{
  color: $site-info-hover;
}
.sidebar__item-btn{
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: $white;
}
.closebutton{
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: $white;
  padding: 15px;
  font-size: 14px;
}
.category-button-res{
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $white;
  font-size: 14px;
  padding: 0;
}
.category-button-res:hover{
  color: $header-primary-color;
}
.sidebar__itemlink{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $white;
  font-size: 14px;
}
.sidebar__itemlink:hover{
  color: $header-primary-color;
}
.sidebar__item-home{
  padding: 10px 15px;
  border-top: 1px solid $border-colors;
}
.offcanvas{
  overflow-y: scroll !important;
}
.sidebar__pic{
  width: 100%;
  height: 250px;
}
.header__search{
  display: flex;
  font-size: 14px;
  width: 45%;
  border-radius: 30px;
  padding: 10px 18px;
  background-color: $header-inputs-color;
}
.header__search .bx-search{
  font-size: 18px;
}
.header__input{
  outline: none;
  border: none;
  background-color: transparent;
  color: $header-input-color;
  width: 85%;
  font-size: 14px;
  padding: 0 !important;
  line-height: 0 !important;
}
.header__search-span{
  font-family: 'Mazzard Soft H Med';
  font-size: 14px;
  font-weight: 600;
  color: $black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__search-span:hover{
  color: $header-primary-color;
}
.header__list{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 6px;
}
.header__list .bx-user{
  font-size: 18px;
  padding: 14px;
  background-color: $header-user-bg;
  color: $header-icons-color;
  border-radius: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
}
.header__list .bx-user:hover{
  background-color: $header-primary-color;
  color: $white;
}
.header__list .bx-heart{
  position: relative;
  font-size: 18px;
  padding: 14px;
  background-color: $header-heart-bg;
  color: $header-icons-color;
  border-radius: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
}
.header__item{
  position: relative;
  margin-left: 16px;
}
.header-item-span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  font-weight: 400;
  color: $white;
  background-color: $header-pink;
  position: absolute;
  top: 0;
  right: -9px;
}
.header__item .bx-heart:hover{
  background-color: $header-primary-color;
  color: $white;
}
.header__item .bx-store{
  font-size: 18px;
  padding: 14px;
  background-color: $header-shop-bg;
  color: $header-icons-color;
  border-radius: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
}
.header__item .bx-store:hover{
  background-color: $header-primary-color;
  color: $white;
}
.header-info__btn{
  display: flex;
  align-items: center;
  border: none;
  font-size: 20px;
  padding: 0;
  background-color: transparent;
  margin-right: 10px;
}
.header__navigations{
  background-color: $header-navigations-bg;
}
.header-info__content{
  width: 60%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.header-info__content .bxs-pizza{
  margin-right: 8px;
}
.header-info__category{
  width: 100%;
}
.header-info__text{
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 16px;
}
.header__item .offcanvas{
  width: 300px !important;
  display: flex;
  justify-content: space-between;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown{
  width:280px;
  display: flex;
  justify-content: space-between;
}
.dropdownesing::after{
  content: '';
  width: 2px;
  height: 30px;
  background-color: $header-info-span;
  display: inline-block;
}

.shww{
  left: -300px;
}
