@import '../variables';

.header{
  padding:0 0 25px 0;
}
.header__site{
  padding: 25px 0;
}
.header__btn{
  font-size: 25px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  display: none;
}
.sidebar .offcanvas-header{
  display: flex;
  // justify-content: flex-end !important;
  align-items: center !important;
  color: $site-info-hover !important;
  color:$white !important;
}

.sidebar{
  display: none;
}
.sidebar .offcanvas{
  width: 300px !important;
  background-color: $header-icons-color;
}
.sidebar .offcanvas-header{
  padding: 20px 0 !important;
}
.btn-close{
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px !important;
  color: $site-info-hover !important;
}
.sidebar__close{
  line-height: 0 !important;
  font-size: 14px !important;
  margin: 0 0 0 5px !important;
}
.sidebar__list{
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.sidebar__item-link{
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.sidebar__item:nth-child(1){
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.sidebar__item-link{
  text-decoration: none;
  color: $white;
  text-transform: capitalize;
  font-size: 14px;

}
.sidebar__item-span{
  padding: 7px 20px !important;
}
.sidebar__item .bx-chevrons-right{
  // padding-right: 20px;
  padding: 7px 20px;
  // border-left: 1px solid #000;
  // border-right: 1px solid #000;
  height: 100%;
}
.dd{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -300px;
  z-index: 10;
  background-color: red;
}

.shw{
  left: 0;
}



.sidebar__item-link:hover{
  color: $site-info-hover;
}
.sidebar__item-btn{
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: $white;
}





.header__search{
  display: flex;
  font-size: 14px;
  width: 45%;
  border-radius: 30px;
  padding: 10px 18px;
  background-color: $header-inputs-color;
}
.header__search .bx-search{
  font-size: 18px;
}
.header__input{
  outline: none;
  border: none;
  background-color: transparent;
  color: $header-input-color;
  width: 85%;
  font-size: 14px;
  padding: 0 !important;
  line-height: 0 !important;
}
.header__search-span{
  font-family: 'Mazzard Soft H Med';
  font-size: 14px;
  font-weight: 600;
  color: $black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__search-span:hover{
  color: $header-primary-color;
}
.header__list{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 6px;
}
.header__list .bx-user{
  font-size: 18px;
  padding: 14px;
  background-color: $header-user-bg;
  color: $header-icons-color;
  border-radius: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
}
.header__list .bx-user:hover{
  background-color: $header-primary-color;
  color: $white;
}

.header__list .bx-heart{
  position: relative;
  font-size: 18px;
  padding: 14px;
  background-color: $header-heart-bg;
  color: $header-icons-color;
  border-radius: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
}
.header__item{
  position: relative;
  margin-left: 16px;
}
.header-item-span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  font-weight: 400;
  color: $white;
  background-color: $header-pink;
  position: absolute;
  top: 0;
  right: -9px;
}
.header__item .bx-heart:hover{
  background-color: $header-primary-color;
  color: $white;
}
.header__item .bx-store{
  font-size: 18px;
  padding: 14px;
  background-color: $header-shop-bg;
  color: $header-icons-color;
  border-radius: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
}
.header__item .bx-store:hover{
  background-color: $header-primary-color;
  color: $white;
}

.header-info__btn{
  display: flex;
  align-items: center;
  border: none;
  font-size: 20px;
  padding: 0;
  background-color: transparent;
  margin-right: 10px;
}
.header__navigations{
  background-color: $header-navigations-bg;
}
.header-info__content{
  width: 60%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.header-info__text{
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 16px;
}

.header__item .offcanvas{
  width: 300px !important;
  display: flex;
  justify-content: space-between;
}

// drop down


.dropdown-toggle::after {
  display: none;
}
.dropdown{
  width:280px;
  display: flex;
  justify-content: space-between;
}
.dropdown::after{
  content: '';
  width: 2px;
  height: 30px;
  background-color: $header-info-span;
  display: inline-block;
}
.dropdown-menu{
  position: relative;
  top:14px !important;
  left: -7% !important;
  width: 108% !important;
  // transform: translateX(-40px) !important;
  // position: absolute;
  // left: -100px !important;
}


// menu chiqishi bolimi



.header-info__list{
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-info__item{
  font-family: 'Mazzard Soft H Med';
  position: relative;
  color: $white;
  width: 100px;
  font-size: 14px;
  // font-weight: 600;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  transition: all 0.3s;
  padding: 20px 0;

}

.header-info__item:hover .header-info-item__home-list{
  display: block;
  animation-name: my;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.header-info-item__home-list{
  position: absolute;
  bottom: -300px;
  width: 180px;
  padding: 20px 20px 0 20px;
  background-color: $white;
  z-index: 100;
  list-style: none;
  // z-index: -1;
  // transition: all 0.4s ease;
  display: none;

}

.header-info-item__home-link{
  text-decoration: none;
  color: $color-primary;
  text-transform: capitalize;
}
.header-info-item__home-link:hover{
  color: $header-primary-color;
}
.header-info-item__home-item{
  margin: 0 0 12px 0 !important;
}
.header-info__item:hover{
  color: $header-primary-color;
}
.header-info__item .bx-chevron-down{
  position: relative;
  left: 3px;
}
.header-info__btn{
  background-color: transparent !important;
  box-shadow: none !important;
}

@keyframes my {
  0%{
    bottom: -295px;
    display: block;
  }
  100%{
    bottom: -282px;
    display: block;
  }
}

// .dropdown:hover{
//   background-color: transparent !important;
// }


.header-info-item__shop-content{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -225px;
  left: -120px;
  padding: 20px 120px 0 20px;
  background-color: $white;
  // z-index: -1;
  transition: all 0.4s ease;
  // width: 930px !important;
  width: 1260%;
  display: none;
}
.header-info__item:hover .header-info-item__shop-content{
  display: block;
  display: flex;
  animation-name: my2;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
.header-info-item__shop-list{
  list-style: none;
  padding: 0;
}
.header-info-item__shop-item{
  margin: 0 0 12px 0 !important;
}
.header-info-item__shop-link{
  text-decoration: none;
  color: $color-primary;
  text-transform: capitalize;
}
.header-info-item__shop-title{
  font-family: 'Mazzard Soft H Med';
  font-size: 16px;
  font-weight: 600;
  color: $black;
}
.header-info-item__shop-title:hover{
  color: $header-primary-color;
}
.header-info-item__shop-link{
  font-size: 14px;
  color: $black;
}
.header-info-item__shop-link:hover{
  color: $header-primary-color;
}
// .header-info-item:hover .header-info-item__shop-content{
//   bottom: -210px;
//   z-index: 1;
// }
@keyframes my2 {
  0%{
    bottom: -225px;
  }
  100%{
    bottom: -215px;
  }
}



.header-info-item__pages-list{
  position: absolute;
  bottom: -200px;
  left: -220px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $white;
  // z-index: -1;
  transition: all 0.4s ease;
  // width: 930px !important;
  width: 1300%;
  list-style: none;
  display: none;
}
.header-info__item:hover .header-info-item__pages-list{
  display: block;
  display: flex;
  animation-name: my3;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
// .header-info-item:hover .header-info-item__pages-list{
//   bottom: -170px;
//   z-index: 1;
// }
@keyframes my3 {
  0%{
    bottom: -200px;
  }
  100%{
    bottom: -177px;
  }
}

.header-info-item__pages-img{
  position: relative;
  bottom: 0;
  width: 110px;
  height: 140px;
  border: 1px solid $border-color;
  transition: all 0.3s ease !important;
}
.header-info-item__pages-img:hover{
  position: relative;
  bottom: 5px;
  transition: all 0.3s ease !important;
  border: 1px solid $header-primary-color;
}





// USER MODAL CHIQISHI


.offcanvas-body__title{
  font-size: 16px;
  color: $header-primary-color;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 16px;
}
.offcanvas-body__form{
  margin-bottom: 22px;
}
.offcanvas-body__input{
  width: 100%;
  outline: none;
  padding: 6px 16px;
  color: $header-input-color;
  margin-bottom: 16px;
  border: 1px solid $header-input-color;
  border-radius: 6px;
  font-size: 14px;
}
.offcanvas-body__input:focus{
  border: 1px solid $header-primary-color;
}
.offcanvas-body__check{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  margin-bottom: 16px;
}
.form-check{
  display: flex;
  align-items: center;
  font-size: 13px;
  color: $color-primary;
}
.form-check-input{
 margin: 0 4px 0 0;
}
.offcanvas-body__forgot{
  text-decoration: none;
  font-size: 13px;
  color: $color-primary;
}
.offcanvas-body__btn{
  width: 100%;
  padding: 6px 0;
  border: none;
  border-radius: 20px;
  color: $white;
  background-color: $site-info-hover;
}
.offcanvas-body__connect-info{
  font-size: 16px;
  color: $header-primary-color;
}
.offcanvas-body__list{
  list-style: none;
  padding: 0;
  margin: 10px 0 20px 0;
}
.offcanvas-body__item-link .bxl-facebook{
  background-color: $blue;
  padding: 10px;
  border-radius: 50%;
  color: $white;
  margin-right: 5px;
}
.offcanvas-body__item-link .bxl-google{
  background-color: $blue-pri;
  padding: 10px;
  border-radius: 50%;
  color: $white;
  margin-right: 5px;
}
.offcanvas-body__item-link .bxl-twitter{
  background-color: $blue-sky;
  padding: 10px;
  border-radius: 50%;
  color: $white;
  margin-right: 5px;
}
.offcanvas-chek-info__span{
  font-size: 14px;
  margin-bottom: 10px;
  color: $primari-white;
}
.offcanvas-body__flags-list{
  padding: 0;
  width: 100px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.offcanvas-chek-info__info{
  padding: 0 5px;
}
.offcanvas-chek-info__currency{
  font-size: 14px;
  margin-bottom: 8px;
  color: $primari-white;
}
.offcanvas-chek-info__valuta{
  font-size: 13px;
  color: $primari-white;
  cursor: pointer;
}
.offcanvas-chek-info__valuta:hover{
  color: $site-info-hover;
}
.offcanvas-body__connect-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.offcanvas-body__connect-item{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.offcanvas-body__conect-link{
  font-size: 13px;
  color: $primari-white;
  text-decoration: none;
}
.offcanvas-body__conect-link:hover{
  color: $site-info-hover;
}
.offcanvas-body__hr-span{
  width: 1px;
  height: 130px;
  background-color: $border-color;
}



@media screen and (max-width:1300px) {
  .header-info-item__pages-img{
    width: 100px;
  }
}
@media screen and (max-width:1200px) {
  .header-info-item__pages-list{
    width: 1350%;
  }
}
@media screen and (max-width:1100px){
  .header-info-item__pages-img{
    width: 90px;
  }
  .header-info__content{
    width: 70%;
  }
}
@media screen and (max-width:990px) {
  .header__search{
    display: none;
  }
  .header__item--activ{
    display: none;
  }
  .header__list{
    width: unset;
  }
  .header__btn{
    display: block;
  }
  .header__item{
    margin-left:0;
  }
  .header-info__list{
    display: none;
  }
  .header-info__content{
    height: 50px;
  }
  .header-info__content{
    padding: 0 40px;
  }
  .dropdown::after{
    display: none;
  }
  .sidebar{
    display: block;
  }
}
