@import '../variables';


.hero{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // width: 850px;
  // height: 650px;
  // background-image: url('https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h2-slide2.jpg?v=1614305184');
  // background-repeat: no-repeat;
  // background-size: cover;
}   
.hero .carousel{
  position: relative;
  width: 65%;
  z-index: 1 !important;
  // height: 650px;
}
.hero .slide{
  z-index: 1 !important;
}
.hero .carousel-control-prev{
  position: relative;
  left: 80%;
  top:-85px;
  padding: 25px;
  width: 40px;
  height: 40px;
  background-color: $white ;
  color: $black;
  border-radius: 50%;
  font-size: 16px;
}
.hero .carousel-control-next{
  position: relative;
  left: 87%;
  top: -135px;
  padding: 25px;
  width: 40px;
  height: 40px;
  background-color:$white ;
  color: $black;
  border-radius: 50%;
  font-size: 16px;
}
.hero .carousel-control-next:hover{
  background-color: $site-info-hover;
}
.hero .carousel-control-prev:hover{
  background-color: $site-info-hover;
}

.hero__discover{
  width: 32%;
}
.hero-flowers{
  background-image: url('../../img/freshio_h2-bn1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.hero-flowers__title{
  width: 50%;
  font-size: 24px;
  color: $hero-primary-color;
}
.hero-flowers__link{
  font-family: 'Mazzard Soft H Med';
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: $black;
  position: relative;
}
.hero-flowers__link::before{
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 70px;
  height: 0.5px;
  background-color: $black;
}
.hero-flowers__link:hover{
  color: $site-info-hover;
}
.hero-flowers__link:hover::before{
  background-color: $site-info-hover;
}
.hero-flowers__link:hover .bx-chevrons-right{
  transform: translate(4px);
}


.hero-sale{
  background-image: url('../../img/freshio_h2-bn2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40%;
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-sale__span{
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: $white;
}
.hero-sale__fifty{
  font-size: 40px;
  color: $yellow;
}
.hero-sale__text{
  font-size: 14px;
  color: $white;
}
.hero-sale__link{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 30px;
  color: $white;
  background-color: $site-info-hover;
  transition: all 0.4s ease;
}
.hero-sale__link:hover{
  transition: all 0.4s ease;
  background-color: $white;
  color: $site-info-hover;
}
.hero-sale__link:hover .bx-chevrons-right{
  transform: translate(4px);
  transition: all 0.4s ease;
}


.hero__list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-primary;
}
.hero__item{
  width: 25%;
  padding: 60px 15px;
  position: relative;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
}
.hero__item::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  opacity: 0;
  height: 3px;
  background-color: $hero-before-color;
  transition: all 0.4s ease;
}
.hero__item:hover::before{
  width: 100%;
  transition: all 0.4s ease;
  opacity: 1;
}
.hero__title{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 16px;
  color: $color-primary;
}
.hero__item-text{
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: $color-primary;
}

@media screen and (max-width:1300px){
  .hero-flowers{
    margin-bottom: 35px;
  }
}
@media screen and (max-width:1100px){
  .hero-flowers{
    margin-bottom: 20px;
  }
}
@media screen and (max-width:990px){
  .hero__list{
    padding: 0;
  }
  .hero__item{
    width: 50%;
  }
  .hero__item::before{
   display: none;
  }

.hero__discover{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero .carousel{
  width: 100%;
}
.hero-sale{
  width: 45%;
  height: 100%;
}
.hero-flowers{
  width: 45%;
  height: 100%;
}
}
@media screen and (max-width:760px){
  .hero__discover{
    flex-direction: column;
  }
  .hero-sale{
    width: 100%;
    height: 220px;
    padding: 30px;
  }
  .hero-flowers{
    width: 100%;
    height: 220px;
  }
  .hero .carousel-control-prev{
    left: 77%;
  }
}
@media screen and (max-width:576px){
  .hero__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__item{
    width: 100%;
    justify-content: center;
  }
  .hero .carousel-control-prev{
    left: 73%;
  }
}



