@import '../variables';


.hero{
  width: 850px;
  height: 650px;
  background-image: url('https://cdn.shopify.com/s/files/1/0740/5717/files/freshio_h2-slide2.jpg?v=1614305184');
  background-repeat: no-repeat;
  background-size: cover;
}   


.hero__list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-primary;
}
.hero__item{
  width: 25%;
  padding: 60px 15px;
  position: relative;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
}
.hero__item::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  opacity: 0;
  height: 3px;
  background-color: $hero-before-color;
  transition: all 0.4s ease;
}
.hero__item:hover::before{
  width: 100%;
  transition: all 0.4s ease;
  opacity: 1;
}
.hero__title{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 16px;
  color: $color-primary;
}
.hero__item-text{
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: $color-primary;
}

@media screen and (max-width:990px){
  .hero__list{
    padding: 0;
  }
  .hero__item{
    width: 50%;
  }
  .hero__item::before{
   display: none;
  }
}
@media screen and (max-width:576px){
  .hero__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__item{
    width: 100%;
    justify-content: center;
  }
}



